<h1>Editando Cliente</h1>

<%= render 'form', cliente: @cliente %>

<%= link_to 'Mostrar', @cliente, class: "btn btn-primary mb-2"%> |
<%= link_to 'Voltar', clientes_path, class: "btn btn-primary mb-2" %>
