<h1>Editando Terreno</h1>

<%= render 'form', terreno: @terreno %>

<%= link_to 'Mostrar', @terreno, class: "btn btn-primary mb-2" %> |
<%= link_to 'Voltar', terrenos_path, class: "btn btn-primary mb-2" %>
