<h1>Editando Corretor</h1>

<%= render 'form', corretor: @corretor %>

<%= link_to 'Mostrar', @corretor, class: "btn btn-primary mb-2" %> |
<%= link_to 'Voltar', corretors_path, class: "btn btn-primary mb-2" %>
