<h1>Editando Empresa</h1>

<%= render 'form', empresa: @empresa %>

<%= link_to 'Show', @empresa, class: "btn btn-primary mb-2" %> |
<%= link_to 'Back', empresas_path, class: "btn btn-primary mb-2" %>
