<h1>Editar Loteamento</h1>

<%= render 'form', loteamento: @loteamento %>

<%= link_to 'Mostrar', @loteamento, , class: "btn btn-primary mb-2" %> |
<%= link_to 'Voltar', loteamentos_path, , class: "btn btn-primary mb-2" %>
